.panel {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  padding: 24px 16px 24px 16px;
}

.h2 {
  font-size: 18px;
  font-weight: 600;
}

.p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.5;
  max-width: 768px;
}
