.container {
  padding: 48px 0 48px 0;
  width: 100%;
}

.item {
  display: block;
  width: 100%;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  min-height: 48px;
  font-weight: 500;
  text-decoration: none;
  transition: 200ms ease all;
  color: var(--main-text);
  cursor: pointer;
  font-size: 0.88rem;

  &:visited {
    color: var(--main-text);
  }

  &:hover {
    background: var(--main-background-navigation-hover);
  }

  &:last-child {
    border-bottom: 0px;
  }
}

.adminItem {
  display: block;
  width: 100%;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  min-height: 48px;
  font-weight: 500;
  text-decoration: none;
  transition: 200ms ease all;
  color: var(--main-text);
  background: var(--main-background-navigation-admin);
  cursor: pointer;
  font-size: 0.88rem;

  &:visited {
    color: var(--main-text);
  }

  &:hover {
    background: var(--main-background-navigation-hover);
  }
}
