.container {
  padding: 48px 0 48px 0;
  width: 100%;
}

.title {
  display: block;
  padding: 4px 16px 4px 16px;
  font-size: 10px;
  font-weight: 600;
  margin-top: 24px;
  letter-spacing: 0.2px;
  color: var(--main-text-details);
}

.item {
  display: block;
  width: 100%;
  padding: 6px 32px 6px 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  transition: 200ms ease color;
  color: var(--main-text);
  cursor: pointer;
  font-size: 14px;

  &:visited {
    color: var(--main-text);
  }

  &:hover {
    color: var(--main-primary);
  }

  &:last-child {
    border-bottom: 0px;
  }
}

.adminItem {
  display: block;
  width: 100%;
  padding: 6px 32px 6px 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  transition: 200ms ease all;
  color: var(--main-text);
  background: var(--main-background-navigation-admin);
  cursor: pointer;
  font-size: 14px;

  &:visited {
    color: var(--main-text);
  }

  &:hover {
  }
}
