.single {
  width: 100%;
  max-width: 640px;
  padding: 0 0 24px 0;
}

.image {
  display: block;
  width: 100%;
  margin: auto;
  max-width: 420px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.drop {
  width: 100%;
  max-width: 100%;
  margin-top: 24px;
  background: #fff;
  padding: 24px;
}

.top {
  margin-top: 144px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.bottom {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  font-family: "Mono";
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.bottomLeft {
  flex-shrink: 0;
}

.bottomRight {
  min-width: 10%;
  width: 100%;
  text-align: right;
}
