.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  pointer-events: visible;
}

.modalContent {
  width: 500px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.modalHeader,
.modalFooter {
  padding: 10px;
}

.modalTitle {
  margin: 0;
}

.modalBody {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
