.navigation {
  height: 48px;
  width: 100%;
}

.container {
  height: 48px;
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  flex-shrink: 0;
  max-width: 156px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;

  @media (max-width: 640px) {
    background: var(--main-background-input);
  }
}

.right {
  min-width: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--main-background-input);
  height: 100%;
  padding-right: 12px;
}

.item {
  margin-left: 24px;
  cursor: pointer;
  transition: 200ms ease all;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;

  color: var(--main-text);

  &:visited {
    color: var(--main-text);
  }

  &:hover {
    color: var(--main-primary);
  }
}

.webItem {
  margin-left: 24px;
  cursor: pointer;
  transition: 200ms ease all;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  display: inline-flex;
  white-space: nowrap;

  @media (max-width: 640px) {
    display: none;
  }

  color: var(--main-text);

  &:visited {
    color: var(--main-text);
  }

  &:hover {
    color: var(--main-primary);
  }
}

.mobileItem {
  margin-left: 24px;
  cursor: pointer;
  transition: 200ms ease all;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  display: none;
  white-space: nowrap;

  @media (max-width: 640px) {
    display: inline-flex;
  }

  color: var(--main-text);

  &:visited {
    color: var(--main-text);
  }

  &:hover {
    color: var(--main-primary);
  }
}

.logo {
  transition: 200ms ease all;
  transition-property: color, opacity;
  text-decoration: none;
  color: var(--main-text);
  font-weight: 600;
  font-size: 14px;

  &:visited {
    color: var(--main-text);
  }

  &:hover {
    color: var(--main-primary);
  }
}

.active {
  font-weight: 700;
}
