.navigation {
  height: 48px;
  width: 100%;
  background-color: var(--main-background-input);
}

.container {
  height: 48px;
  width: 100%;
  padding: 0 16px 0 16px;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  flex-shrink: 0;
}

.right {
  min-width: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.item {
  margin-left: 24px;
  cursor: pointer;
  transition: 200ms ease all;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;

  color: var(--main-text);

  &:visited {
    color: var(--main-text);
  }

  &:hover {
    color: var(--main-primary);
  }
}

.logo {
  transition: 200ms ease all;
  transition-property: color, opacity;
  text-decoration: none;
  color: var(--main-text);
  font-weight: 600;
  font-size: 12px;

  &:visited {
    color: var(--main-text);
  }

  &:hover {
    color: var(--main-primary);
  }
}

.active {
  font-weight: 700;
}
