.card {
  max-width: 25%;
  width: 100%;
  padding: 2px;
  font-size: 14px;

  @media (max-width: 1664px) {
    max-width: 25%;
  }

  @media (max-width: 1440px) {
    max-width: 33.33;
  }

  @media (max-width: 1248px) {
    max-width: 50%;
    font-size: 14px;
  }

  @media (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 960px) {
    max-width: none;
  }
}

.marketing {
  padding: 16px;
}

.container {
  transition: 200ms ease all;

  a {
    color: var(--main-text);

    &:visited {
      color: var(--main-text);
    }

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.top {
  color: var(--main-text);
  width: 100%;
  padding: 8px 8px 8px 14px;
  font-size: 0.85em;
  font-weight: 600;
}
