.tag {
  font-family: 'Mono';
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  flex-shrink: 0;
  margin-left: 2px;
  transform: translateY(0px);
  background: #ff0000;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
