.graphArea {
  background: #000;
  padding-bottom: 24px;
  overflow: hidden;
  display: block;
  width: 100%;
}

.video {
  width: 100%;
}

.graphItem {
  display: block;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  height: 56px;
  background: #393939;
  color: #ffffff;
  transition: 200ms ease all;
  text-decoration: none;

  &:hover {
    color: #ffffff;
  }
}

.h {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--main-background);
}

.hbimgc {
  position: relative;
}

.ca {
  width: 100%;
  max-width: 296px;
  height: auto;
  position: absolute;
  top: -48px;
  bottom: 0;
  left: 0;
  right: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 960px) {
    display: none;
  }
}

.cb {
  text-align: left;
  width: 100%;
  display: block;
  padding: 16px;
  border-radius: 8px;
  font-family: 'Mono';
  font-size: 10px;
  color: var(--main-background);
  background: var(--main-primary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: 200ms ease transform;

  &:hover {
    transform: scale(1.2);
  }
}

.cbt {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  opacity: 0.8;
}

.cbb {
  display: block;
  text-decoration: none;
  padding-top: 8px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  color: var(--main-background);
}

.actions {
  margin-top: 24px;
  margin-bottom: 32px;
}

.ht {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 88px 24px 48px 24px;
}

.hbimg {
  width: 100%;
  max-width: 960px;
}

.r {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 640px;
  max-width: 1440px;
  padding: 48px 48px 88px 48px;
  margin: 0 auto 0 auto;

  @media (max-width: 864px) {
    width: 100%;
    height: auto;
    display: block;
  }

  @media (max-width: 568px) {
    padding: 24px 24px 88px 24px;
  }
}

.rl {
  flex-shrink: 0;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 64px;
  padding-bottom: 88px;
  padding-right: 48px;
  flex-direction: column;
  text-align: right;

  @media (max-width: 1256px) {
    width: 45%;
    padding-right: 24px;
  }

  @media (max-width: 1024px) {
    width: 40%;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  @media (max-width: 864px) {
    width: 100%;
  }

  @media (max-width: 568px) {
    padding-right: 0px;
  }
}

.rr {
  min-width: 10%;
  height: 100%;
  width: 100%;
  background: #ffffff;
  padding: 48px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  border-radius: 4px;

  @media (max-width: 864px) {
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 568px) {
    padding: 16px;
  }
}

.rtext {
  font-size: 2.225rem;
  font-weight: 600;
  padding: 24px 24px 24px 24px;
  text-align: right;
}

.f {
  background: #262626;
}

.fb {
  background: #161616;
}

.fa {
  font-size: 1.225rem;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 864px) {
    display: block;
  }
}

.fam {
  font-size: 1.225rem;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 864px) {
    display: block;
  }
}

.fcol4 {
  width: 25%;
  flex-shrink: 0;
  padding: 1px;

  @media (max-width: 864px) {
    width: 100%;
  }
}

.fcolfull {
  width: 100%;
  min-width: 10%;
  padding: 1px;
}

a.flink {
  &:hover {
    background: var(--main-primary);
    cursor: pointer;
  }
}

.flink {
  display: block;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  height: 56px;
  background: #393939;
  color: #ffffff;
  transition: 200ms ease all;
  text-decoration: none;

  &:hover {
    color: #ffffff;
  }
}

.fcta {
  display: block;
  font-size: 1.225rem;
  padding: 0 16px 0 16px;
  height: 56px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  transition: 200ms ease all;

  &:hover {
    color: #ffffff;
    background: #000;
  }

  &:visited {
    color: #ffffff;
  }
}

.stats {
  max-width: 1024px;
  margin: 0 auto 0 auto;
  padding: 0 16px 0 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.sc {
  background: #fff;
  height: 128px;
  width: 220px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
}

.scn {
  font-size: 28px;
  font-weight: 600;
  padding: 16px 16px 0px 16px;
}

.scl {
  font-family: 'Mono';
  text-transform: uppercase;
  font-size: 12px;
  padding: 4px 16px 24px 18px;
}
