.graphArea {
  background: var(--main-page-background-dark-mode);
  display: block;
  overflow: hidden;
}

.form {
  max-width: 480px;
  width: 100%;
  margin: 48px auto 0 auto;
  text-align: left;
}

.video {
  width: 100%;
}

.graphItem {
  display: block;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  height: 56px;
  background: #393939;
  color: var(--text-white);
  transition: 200ms ease all;
  text-decoration: none;

  &:hover {
    color: var(--text-white);
  }
}

.h {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--main-background);
}

.hbimgc {
  position: relative;
}

.ca {
  width: 100%;
  max-width: 296px;
  height: auto;
  position: absolute;
  top: -48px;
  bottom: 0;
  left: 0;
  right: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 960px) {
    display: none;
    visibility: hidden;
  }
}

.cb {
  text-align: left;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  font-family: 'Mono';
  font-size: 10px;
  color: var(--main-background);
  background: var(--main-primary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 200ms ease all;
  display: block;
  transition-property: opacity, transform;
  transform: scale(1);
  opacity: 0;
  visibility: hidden;

  &:hover {
    transform: scale(1.2);
  }
}

.cbt {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  opacity: 0.8;
}

.cbb {
  display: block;
  text-decoration: none;
  padding-top: 8px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  color: var(--main-background);
}

.actions {
  margin-top: 24px;
  margin-bottom: 32px;
}

.ht {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 88px 24px 48px 24px;
}

.hbimg {
  width: 100%;
  max-width: 960px;
  opacity: 0;
  visibility: hidden;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.r {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 640px;
  max-width: 1440px;
  padding: 48px 48px 88px 48px;
  margin: 0 auto 0 auto;

  @media (max-width: 864px) {
    width: 100%;
    height: auto;
    display: block;
  }

  @media (max-width: 568px) {
    padding: 24px 24px 88px 24px;
  }
}

.rl {
  flex-shrink: 0;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 64px;
  padding-bottom: 88px;
  padding-right: 48px;
  flex-direction: column;
  text-align: right;

  @media (max-width: 1256px) {
    width: 45%;
    padding-right: 24px;
  }

  @media (max-width: 1024px) {
    max-width: max-content;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  @media (max-width: 864px) {
    width: 100%;
  }

  @media (max-width: 568px) {
    padding-right: 0px;
  }
}

.rr {
  min-width: 10%;
  height: 100%;
  width: 100%;
  background: var(--text-white);
  padding: 48px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  border-radius: 4px;

  @media (max-width: 864px) {
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 568px) {
    padding: 16px;
  }
}

.rtext {
  font-size: 2.225rem;
  font-weight: 600;
  padding: 24px 24px 24px 24px;
  text-align: right;
}

.ecosystemPerformanceTable {
  padding-bottom: 80px;
}

.fb {
  background: var(--main-page-background-dark-mode);
  border-top: 1px solid var(--text-space-gray);
  color: var(--text-white);
}

.fa {
  font-size: 1.225rem;
  color: var(--text-white);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 864px) {
    display: block;
  }
}

.fam {
  font-size: 1.225rem;
  color: var(--text-white);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 864px) {
    display: block;
  }
}

.fcol4 {
  width: 25%;
  flex-shrink: 0;
  padding: 1px;

  @media (max-width: 864px) {
    width: 100%;
  }
}

.fcolfull {
  width: 100%;
  min-width: 10%;
  padding: 1px;
}

a.flink {
  &:hover {
    background: var(--main-table-hover);
    color: var(--text-black);
    cursor: pointer;
  }
}

.flink {
  align-items: center;
  border-bottom: 1px solid var(--text-space-gray);
  color: var(--text-white);
  display: block;
  display: flex;
  font-family: 'Mono';
  font-size: 16px;
  height: 56px;
  padding: 0 15px 0 15px;
  text-decoration: none;
  transition: 200ms ease all;

  &:hover {
    color: var(--text-white);
  }
}

@media (max-width: 960px) {
  .flink {
    font-size: 16px;
  }
}

@media (max-width: 568px) {
  .flink {
    font-size: 12px;
  }
}

.fcta {
  display: block;
  font-size: 1.225rem;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--text-white);
  text-decoration: none;
  transition: 200ms ease all;
  font-family: 'Mono';

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .fcta {
    font-size: 12px;
    white-space: nowrap;
  }
}

.stats {
  max-width: 1024px;
  margin: 0 auto 0 auto;
  padding: 0 16px 0 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.scustom {
  background: var(--text-white);
  display: block;
  padding: 24px 24px 22px 24px;
  margin-bottom: 24px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
}

.sc {
  background: var(--text-white);
  height: 128px;
  width: 220px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
}

.scn {
  font-size: 28px;
  font-weight: 600;
  padding: 16px 16px 0px 16px;
}

.scl {
  font-family: 'Mono';
  text-transform: uppercase;
  font-size: 12px;
  padding: 4px 16px 24px 18px;
}

.ecosystem {
  background: var(--main-page-background-dark-mode);
  padding-left: var(--main-page-margin);
  padding-right: var(--main-page-margin);
  display: grid;
  row-gap: var(--main-page-row-gap);
  position: relative;
  z-index: 3;

  @media (max-width: 768px) {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.ecosystemH2 {
  color: var(--text-white);
  padding-bottom: 32px;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Parabole';
  letter-spacing: 0.1rem;
}

.ecosystemH3 {
  color: var(--text-white);
  font-size: 16px;
  font-style: 'Parabole';
  font-weight: light;
}

.ecosystemHeading {
  color: var(--text-white);
  font-size: 24px;
}

.ecosystemLogo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 168px;
  padding: 88px;
  border: 1px dashed var(--text-space-gray);

  @media (max-width: 1920px) {
    width: 25%;
  }

  @media (max-width: 992px) {
    width: 50%;
  }

  @media (max-width: 568px) {
    width: 100%;
  }
}

.ecosystemLogoBox:hover {
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
  transition: 0.5s;
  background: var(--text-space-gray);
  border-radius: 4px;
  padding: 24px;

  @media (max-width: 960px) {
    padding: 8px;
  }
}

.ecosystemParagraph {
  color: var(--text-space-gray);
  font-size: 32px;
}

.ecosystemPerformance {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

.ecosystemSectionWithIcon {
  grid-column: span 2;
  border: 1px dashed var(--text-space-gray);

  @media (max-width: 992px) {
    grid-column: span 4;
  }

  @media (max-width: 768px) {
    grid-column: span 4;
  }
}

.ecosystemSection {
  grid-column: span 2;

  @media (max-width: 992px) {
    grid-column: span 4;
  }

  @media (max-width: 768px) {
    grid-column: span 4;
  }
}

.ecosystemStatCardWithIcon {
  display: flex;
  flex-direction: row;
  height: 150px;
}

.ecosystemStatCard {
  height: 100px;

  @media (max-width: 1024px) {
    height: 100px;
  }
}

.ecosystemStatValueWithIcon {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 600;
  justify-content: center;
  padding: 24px;
  width: 70%;

  @media (max-width: 1200px) {
    font-size: 24px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.ecosystemStatValue {
  color: white;
  display: flex;
  font-size: 32px;
  font-weight: 600;
  justify-content: left;
  padding: 24px 0 24px 0;

  @media (max-width: 1200px) {
    font-size: 24px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.ecosystemStatText {
  font-size: 12px;
  font-family: 'Mono';
  margin-top: 8px;
  text-transform: uppercase;
  color: rgba(99, 99, 99, 1);

  @media (max-width: 768px) {
    font-size: 12px;
    max-width: 75%;
  }
}

.ecosystemStatIcon {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 150px;
}

.collaborations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
}

.container {
  display: 'flex';
  display: inline-flex;
  flex-wrap: wrap;
}

.column {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 168px;
  width: 33%;
  border: 1px dashed var(--text-space-gray);
  padding: 2.25em;
  align-items: center;
  text-align: center;

  @media (max-width: 768px) {
    width: 100%;
    padding: 0.5em;
    flex-direction: column;
  }
}

.ecosystemShuttleData {
  border: 1px dashed var(--text-space-gray);
  padding: 16px 24px 24px 24px;

  @media (max-width: 1024px) {
    grid-column: span 2;
  }

  @media (max-width: 420px) {
    grid-column: span 4;
  }
}

.ecosystemStatLabel {
  color: var(--color-green);
  font-family: 'Mono';
  font-size: 12px;
  margin-top: 8px;
  text-transform: uppercase;
}
