.table {
  width: 100%;
  background: var(--main-background-table);
  color: var(--main-background-table-text-color);
  table-layout: fixed;
  font-size: 16px;

  @media (max-width: 1248px) {
    font-size: 16px;
  }

  @media (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 960px) {
  }
}

.tbody {
  font-size: 0.85em;
}

.tr {
  background: var(--main-background-table-cell);
}

.th {
  padding: 8px 8px 8px 14px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-size: 11px;
  font-family: "Mono";
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(0, 0, 0, 0.1);
}

.td {
  padding: 8px 8px 8px 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tdcta {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1px;
  transition: 200ms ease all;
  background: #fff;
}

.cta {
  display: block;
  padding: 8px 8px 8px 14px;
  transition: 200ms ease all;
  color: var(--main-background-table-text-color);
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  font-weight: 500;

  &:visited {
    color: var(--main-background-table-text-color);
  }

  &:hover {
    color: var(--main-primary);
  }
}

.tdbutton {
  font-family: "Mono";
  text-transform: uppercase;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
